In [5]:
import pandas as pd
import numpy as np

In [8]:
df = pd.read_csv(r"C:\Users\khush\OneDrive\Documents\iStudio\Amazon_Sales_Analysis\amazon.csv")

In [9]:
print("=== First Look at the Data ===")
df.head()

=== First Look at the Data ===

,product_id,product_name,category,discounted_price,actual_price,discount_percentage,rating,rating_count,about_product,user_id,user_name,review_id,review_title,review_content,img_link,product_link
0,B07JW9H4J1,Wayona Nylon Braided USB to Lightning Fast Cha...,Computers&Accessories|Accessories&Peripherals|...,₹399,"₹1,099",64%,4.2,"24,269",High Compatibility : Compatible With iPhone 12...,"AG3D6O4STAQKAY2UVGEUV46KN35Q,AHMY5CWJMMK5BJRBB...","Manav,Adarsh gupta,Sundeep,S.Sayeed Ahmed,jasp...","R3HXWT0LRP0NMF,R2AJM3LFTLZHFO,R6AQJGUP6P86,R1K...","Satisfied,Charging is really fast,Value for mo...",Looks durable Charging is fine tooNo complains...,https://m.media-amazon.com/images/W/WEBP_40237...,https://www.amazon.in/Wayona-Braided-WN3LG1-Sy...
1,B098NS6PVG,Ambrane Unbreakable 60W / 3A Fast Charging 1.5...,Computers&Accessories|Accessories&Peripherals|...,₹199,₹349,43%,4.0,"43,994","Compatible with all Type C enabled devices, be...","AECPFYFQVRUWC3KGNLJIOREFP5LQ,AGYYVPDD7YG7FYNBX...","ArdKn,Nirbhay kumar,Sagar Viswanathan,Asp,Plac...","RGIQEG07R9HS2,R1SMWZQ86XIN8U,R2J3Y1WL29GWDE,RY...","A Good Braided Cable for Your Type C Device,Go...",I ordered this cable to connect my phone to An...,https://m.media-amazon.com/images/W/WEBP_40237...,https://www.amazon.in/Ambrane-Unbreakable-Char...
2,B096MSW6CT,Sounce Fast Phone Charging Cable & Data Sync U...,Computers&Accessories|Accessories&Peripherals|...,₹199,"₹1,899",90%,3.9,"7,928",【 Fast Charger& Data Sync】-With built-in safet...,"AGU3BBQ2V2DDAMOAKGFAWDDQ6QHA,AESFLDV2PT363T2AQ...","Kunal,Himanshu,viswanath,sai niharka,saqib mal...","R3J3EQQ9TZI5ZJ,R3E7WBGK7ID0KV,RWU79XKQ6I1QF,R2...","Good speed for earlier versions,Good Product,W...","Not quite durable and sturdy,https://m.media-a...",https://m.media-amazon.com/images/W/WEBP_40237...,https://www.amazon.in/Sounce-iPhone-Charging-C...
3,B08HDJ86NZ,boAt Deuce USB 300 2 in 1 Type-C & Micro USB S...,Computers&Accessories|Accessories&Peripherals|...,₹329,₹699,53%,4.2,"94,363",The boAt Deuce USB 300 2 in 1 cable is compati...,"AEWAZDZZJLQUYVOVGBEUKSLXHQ5A,AG5HTSFRRE6NL3M5S...","Omkar dhale,JD,HEMALATHA,Ajwadh a.,amar singh ...","R3EEUZKKK9J36I,R3HJVYCLYOY554,REDECAZ7AMPQC,R1...","Good product,Good one,Nice,Really nice product...","Good product,long wire,Charges good,Nice,I bou...",https://m.media-amazon.com/images/I/41V5FtEWPk...,https://www.amazon.in/Deuce-300-Resistant-Tang...
4,B08CF3B7N1,Portronics Konnect L 1.2M Fast Charging 3A 8 P...,Computers&Accessories|Accessories&Peripherals|...,₹154,₹399,61%,4.2,"16,905",[CHARGE & SYNC FUNCTION]- This cable comes wit...,"AE3Q6KSUK5P75D5HFYHCRAOLODSA,AFUGIFH5ZAFXRDSZH...","rahuls6099,Swasat Borah,Ajay Wadke,Pranali,RVK...","R1BP4L2HH9TFUP,R16PVJEXKV6QZS,R2UPDB81N66T4P,R...","As good as original,Decent,Good one for second...","Bought this instead of original apple, does th...",https://m.media-amazon.com/images/W/WEBP_40237...,https://www.amazon.in/Portronics-Konnect-POR-1...

In [10]:
print("=== Dataset Shape (Rows, Columns) ===")
df.shape

=== Dataset Shape (Rows, Columns) ===

(1465, 16)

In [11]:
print("=== Column Names and Data Types ===")
df.info()

=== Column Names and Data Types ===
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1465 entries, 0 to 1464
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   product_id           1465 non-null   object
 1   product_name         1465 non-null   object
 2   category             1465 non-null   object
 3   discounted_price     1465 non-null   object
 4   actual_price         1465 non-null   object
 5   discount_percentage  1465 non-null   object
 6   rating               1465 non-null   object
 7   rating_count         1463 non-null   object
 8   about_product        1465 non-null   object
 9   user_id              1465 non-null   object
 10  user_name            1465 non-null   object
 11  review_id            1465 non-null   object
 12  review_title         1465 non-null   object
 13  review_content       1465 non-null   object
 14  img_link             1465 non-null   object
 15  product_link         1465 non-null   object
dtypes: object(16)
memory usage: 183.3+ KB

In [12]:
print("=== Missing Values Per Column ===")
df.isnull().sum()

=== Missing Values Per Column ===

product_id             0
product_name           0
category               0
discounted_price       0
actual_price           0
discount_percentage    0
rating                 0
rating_count           2
about_product          0
user_id                0
user_name              0
review_id              0
review_title           0
review_content         0
img_link               0
product_link           0
dtype: int64

In [13]:
print("=== Total Duplicate Rows ===")
df.duplicated().sum()

=== Total Duplicate Rows ===

np.int64(0)

In [14]:
print("=== Dataset Shape (Rows, Columns) ===") 
print(df.shape)

print("\n=== Total Duplicate Rows ===")
print(df.duplicated().sum())

print("\n=== Columns With Missing Values ===")
missing_cols = df.columns[df.isnull().any()]
print(missing_cols.tolist())

=== Dataset Shape (Rows, Columns) ===
(1465, 16)

=== Total Duplicate Rows ===
0

=== Columns With Missing Values ===
['rating_count']

In [15]:
# We already confirmed there are 0 duplicate rows, so no action needed.

In [16]:
# For the 2 missing 'rating_count' values, we will fill them with 0.
# This assumes no ratings were given for those products.
df['rating_count'] = df['rating_count'].fillna('0')

In [17]:
import re # Import regular expression module for text cleaning

In [18]:
def clean_currency_and_convert(text):
    """
    Cleans strings like '₹1,299' or '1,299' and converts to float.
    """
    if isinstance(text, str):
        # Remove currency symbols (₹, $, etc.), commas, and any extra spaces
        text = re.sub(r'[₹$,]', '', text).strip()
    try:
        return float(text)
    except:
        # If conversion fails (e.g., for empty strings), return NaN
        return np.nan

In [19]:
def clean_percentage(text):
    """
    Cleans strings like '46%' and converts to float (e.g., 46.0).
    """
    if isinstance(text, str):
        text = text.replace('%', '').strip()
    try:
        return float(text)
    except:
        return np.nan

In [20]:
# 1. Clean and convert price columns to numeric (float)
print("Cleaning price columns...")
df['discounted_price'] = df['discounted_price'].apply(clean_currency_and_convert)
df['actual_price'] = df['actual_price'].apply(clean_currency_and_convert)

Cleaning price columns...

In [21]:
# 2. Clean and convert discount_percentage to numeric (float)
print("Cleaning discount column...")
df['discount_percentage'] = df['discount_percentage'].apply(clean_percentage)

Cleaning discount column...

In [22]:
# 3. Clean and convert rating to numeric (float). Some might have text like '|'.
print("Cleaning rating column...")
df['rating'] = pd.to_numeric(df['rating'], errors='coerce') # 'coerce' turns errors to NaN

Cleaning rating column...

In [23]:
# 4. Clean rating_count: remove commas and convert to integer.
print("Cleaning rating_count column...")
df['rating_count'] = df['rating_count'].astype(str).str.replace(',', '', regex=False)
df['rating_count'] = pd.to_numeric(df['rating_count'], errors='coerce').fillna(0).astype(int)

Cleaning rating_count column...

In [24]:
# 5. (Optional but recommended) Clean the 'category' column.
# It has long strings with pipes '|'. Let's extract the main category (first one).
print("Extracting main category...")
df['main_category'] = df['category'].astype(str).apply(lambda x: x.split('|')[0].strip())

Extracting main category...

In [25]:
# === TASK: Identify and Handle Outliers (for numerical columns) ===
# Let's check the basic statistics to spot obvious outliers in prices and ratings.
print("--- Data Summary for Outlier Check ---")
print(df[['discounted_price', 'actual_price', 'discount_percentage', 'rating']].describe())

--- Data Summary for Outlier Check ---
       discounted_price   actual_price  discount_percentage       rating
count       1465.000000    1465.000000          1465.000000  1464.000000
mean        3125.310874    5444.990635            47.691468     4.096585
std         6944.304394   10874.826864            21.635905     0.291674
min           39.000000      39.000000             0.000000     2.000000
25%          325.000000     800.000000            32.000000     4.000000
50%          799.000000    1650.000000            50.000000     4.100000
75%         1999.000000    4295.000000            63.000000     4.300000
max        77990.000000  139900.000000            94.000000     5.000000

In [26]:
# Based on the .describe() output, you might decide to cap outliers.
# For example, if discount_percentage is >100% (which is unrealistic), cap it.
print("Checking for unrealistic discounts (>100%)...")
unrealistic_discounts = df[df['discount_percentage'] > 100]
print(f"Found {len(unrealistic_discounts)} entries with discount > 100%.")
# Cap them at 100
df.loc[df['discount_percentage'] > 100, 'discount_percentage'] = 100.0

Checking for unrealistic discounts (>100%)...
Found 0 entries with discount > 100%.

In [27]:
# === TASK: Create New Columns for Analysis ===
print("Creating new analysis columns...")
# 1. Calculate the absolute discount amount (actual - discounted)
df['discount_amount'] = df['actual_price'] - df['discounted_price']

Creating new analysis columns...

In [28]:
# 2. Create a flag for high-impact products (e.g., high rating & many reviews)
# Let's define "high-impact" as rating >= 4.0 AND rating_count above the 75th percentile.
rating_count_threshold = df['rating_count'].quantile(0.75)
df['is_high_impact'] = (df['rating'] >= 4.0) & (df['rating_count'] > rating_count_threshold)

In [29]:
# 3. Create a simple value-for-money score (Discount % * Rating)
# Normalize rating to a 0-1 scale first (divide by 5).
df['value_score'] = (df['discount_percentage'] / 100) * (df['rating'] / 5)

In [30]:
# === TASK: Final Check and Save ===
print("=== Final Data Info After Cleaning ===")
print(df.info())

=== Final Data Info After Cleaning ===
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1465 entries, 0 to 1464
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   product_id           1465 non-null   object
 1   product_name         1465 non-null   object
 2   category             1465 non-null   object
 3   discounted_price     1465 non-null   float64
 4   actual_price         1465 non-null   float64
 5   discount_percentage  1465 non-null   float64
 6   rating               1464 non-null   float64
 7   rating_count         1465 non-null   int64
 8   about_product        1465 non-null   object
 9   user_id              1465 non-null   object
 10  user_name            1465 non-null   object
 11  review_id            1465 non-null   object
 12  review_title         1465 non-null   object
 13  review_content       1465 non-null   object
 14  img_link             1465 non-null   object
 15  product_link         1465 non-null   object
 16  main_category        1465 non-null   object
 17  discount_amount      1465 non-null   float64
 18  is_high_impact       1465 non-null   bool
 19  value_score          1464 non-null   float64
dtypes: bool(1), float64(6), int64(1), object(12)
memory usage: 219.0+ KB
None

In [31]:
print("=== Sample of New Numerical Columns ===")
df[['discounted_price', 'actual_price', 'discount_percentage', 'discount_amount', 'value_score']].head()

=== Sample of New Numerical Columns ===

,discounted_price,actual_price,discount_percentage,discount_amount,value_score
0,399.0,1099.0,64.0,700.0,0.5376
1,199.0,349.0,43.0,150.0,0.3440
2,199.0,1899.0,90.0,1700.0,0.7020
3,329.0,699.0,53.0,370.0,0.4452
4,154.0,399.0,61.0,245.0,0.5124

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1465 entries, 0 to 1464
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   product_id           1465 non-null   object
 1   product_name         1465 non-null   object
 2   category             1465 non-null   object
 3   discounted_price     1465 non-null   float64
 4   actual_price         1465 non-null   float64
 5   discount_percentage  1465 non-null   float64
 6   rating               1464 non-null   float64
 7   rating_count         1465 non-null   int64
 8   about_product        1465 non-null   object
 9   user_id              1465 non-null   object
 10  user_name            1465 non-null   object
 11  review_id            1465 non-null   object
 12  review_title         1465 non-null   object
 13  review_content       1465 non-null   object
 14  img_link             1465 non-null   object
 15  product_link         1465 non-null   object
 16  main_category        1465 non-null   object
 17  discount_amount      1465 non-null   float64
 18  is_high_impact       1465 non-null   bool
 19  value_score          1464 non-null   float64
dtypes: bool(1), float64(6), int64(1), object(12)
memory usage: 219.0+ KB

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1465 entries, 0 to 1464
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   product_id           1465 non-null   object
 1   product_name         1465 non-null   object
 2   category             1465 non-null   object
 3   discounted_price     1465 non-null   float64
 4   actual_price         1465 non-null   float64
 5   discount_percentage  1465 non-null   float64
 6   rating               1464 non-null   float64
 7   rating_count         1465 non-null   int64
 8   about_product        1465 non-null   object
 9   user_id              1465 non-null   object
 10  user_name            1465 non-null   object
 11  review_id            1465 non-null   object
 12  review_title         1465 non-null   object
 13  review_content       1465 non-null   object
 14  img_link             1465 non-null   object
 15  product_link         1465 non-null   object
 16  main_category        1465 non-null   object
 17  discount_amount      1465 non-null   float64
 18  is_high_impact       1465 non-null   bool
 19  value_score          1464 non-null   float64
dtypes: bool(1), float64(6), int64(1), object(12)
memory usage: 219.0+ KB

In [34]:
df.isnull().sum()

product_id             0
product_name           0
category               0
discounted_price       0
actual_price           0
discount_percentage    0
rating                 1
rating_count           0
about_product          0
user_id                0
user_name              0
review_id              0
review_title           0
review_content         0
img_link               0
product_link           0
main_category          0
discount_amount        0
is_high_impact         0
value_score            1
dtype: int64

In [35]:
# === FINAL POLISH: Handle the 1 missing rating and its dependent value_score ===
print("Handling the final missing values...")

Handling the final missing values...

In [36]:
df['rating'] = df['rating'].fillna(df['rating'].median())

In [37]:
df['value_score'] = (df['discount_percentage'] / 100) * (df['rating'] / 5)

In [38]:
df.isnull().sum()

product_id             0
product_name           0
category               0
discounted_price       0
actual_price           0
discount_percentage    0
rating                 0
rating_count           0
about_product          0
user_id                0
user_name              0
review_id              0
review_title           0
review_content         0
img_link               0
product_link           0
main_category          0
discount_amount        0
is_high_impact         0
value_score            0
dtype: int64

In [39]:
# === FINAL VERIFICATION (Task 16) ===
print("\n" + "="*50)
print("FINAL DATASET VERIFICATION")
print("="*50)
print("1. Shape of the dataset:", df.shape)
print("\n2. Confirming zero missing values:")
print(df.isnull().sum().sum())  # This should print 0
print("\n3. Data types of key columns:")
print(df[['discounted_price', 'actual_price', 'discount_percentage', 'rating', 'rating_count']].dtypes)
print("\n4. Sample of cleaned & calculated columns:")
print(df[['product_name', 'main_category', 'discounted_price', 'discount_percentage', 'rating_count', 'is_high_impact', 'value_score']].head())

==================================================
FINAL DATASET VERIFICATION
==================================================
1. Shape of the dataset: (1465, 20)

2. Confirming zero missing values:
0

3. Data types of key columns:
discounted_price       float64
actual_price           float64
discount_percentage    float64
rating                 float64
rating_count             int64
dtype: object

4. Sample of cleaned & calculated columns:
                                        product_name          main_category  \
0  Wayona Nylon Braided USB to Lightning Fast Cha...  Computers&Accessories
1  Ambrane Unbreakable 60W / 3A Fast Charging 1.5...  Computers&Accessories
2  Sounce Fast Phone Charging Cable & Data Sync U...  Computers&Accessories
3  boAt Deuce USB 300 2 in 1 Type-C & Micro USB S...  Computers&Accessories
4  Portronics Konnect L 1.2M Fast Charging 3A 8 P...  Computers&Accessories

   discounted_price  discount_percentage  rating_count  is_high_impact  \
0             399.0                 64.0         24269            True
1             199.0                 43.0         43994            True
2             199.0                 90.0          7928           False
3             329.0                 53.0         94363            True
4             154.0                 61.0         16905           False

   value_score
0       0.5376
1       0.3440
2       0.7020
3       0.4452
4       0.5124

In [40]:
# === TASK: Save the Final, Polished Dataset ===
final_filename = 'cleaned_amazon_sales_analysis_ready.csv'
df.to_csv(final_filename, index=False)
print(f"\n" + "="*50)
print(f"✅ DATASET READY FOR ANALYSIS!")
print(f"The final, error-free dataset is saved as: '{final_filename}'")
print("="*50)

==================================================
✅ DATASET READY FOR ANALYSIS!
The final, error-free dataset is saved as: 'cleaned_amazon_sales_analysis_ready.csv'
==================================================